@font-face {
	font-family: 'MyriadPro';
	src:
		url('MyriadPro-BoldCond.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'MyriadPro';
	src:
		url('MyriadPro-Cond.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}